<mat-card class="w-96" appearance="outlined">
  <img mat-card-image src="/assets/img/fields1.png" alt="Field image" (click)="goToHome(field.id)">

  <mat-card-content>
    <h3>{{ 'fields.fieldName' | translate }}: {{ field.fieldName }}</h3>
    <p>{{ 'fields.landSize' | translate }}: {{ field.size }}</p>
    <p>{{ 'fields.location' | translate }}: {{ field.location }}</p>
  </mat-card-content>

  <mat-card-actions class="gap-2.5 m-3">
    <button class="w-20 !bg-green-600 !text-white !rounded" mat-button (click)="openModal()">
      {{ 'shared.edit' | translate }}
    </button>

    <button class="w-20 !bg-red-600 !text-white !rounded" mat-button (click)="onFieldDeleted(field.id)">
      {{ 'fields.delete' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
