<div class="flex flex-row w-dvw flex-wrap gap-4">
  <app-field-card
    *ngFor="let field of fields"
    [field]="field"
    (deleteField)="reload()"
    (editField)="openEditModal(field.id)" />

  <div class="flex justify-center items-center">
    <button class="relative object-center" mat-button (click)="openModal()">
      <img class="w-7" src="/assets/img/add.png" alt="Add field">
    </button>
  </div>
</div>

<div *ngIf="message" class="flex justify-center items-center">
  <span class="text-red-500 text-lg font-black">{{ message }}</span>
</div>

<app-field-form
  *ngIf="isModalOpen"
  [currentUserId]="currentUserId"
  (close)="closeModal()"
  (success)="onFieldAdded()">
</app-field-form>

<app-field-form-edit
  *ngIf="isEditModalOpen"
  [fieldId]="selectedFieldId"
  (close)="closeEditModal()"
  (success)="onFieldEdited()">
</app-field-form-edit>
